services:
  app:
    env_file:
      - .env.production
    build: .
    restart: unless-stopped
    environment:
      NODE_ENV: production
    networks:
      - web

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/www:/var/www/certbot
      - ./nginx/letsencrypt:/etc/letsencrypt
    depends_on:
      - app
    networks:
      - web

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./nginx/www:/var/www/certbot
      - ./nginx/letsencrypt:/etc/letsencrypt
    entrypoint: ["sh", "-c", "trap exit TERM; while :; do sleep 12h & wait $${!}; certbot renew --webroot -w /var/www/certbot; done"]
    networks:
      - web

networks:
  web:
    driver: bridge
