services:
  app:
    build: .
    restart: unless-stopped
    environment:
      NODE_ENV: production
      # IMPORTANT: заполни в .env.production на сервере
      NEXT_PUBLIC_SITE_URL: ${NEXT_PUBLIC_SITE_URL}
      NEXT_PUBLIC_CONTACT_EMAIL: ${NEXT_PUBLIC_CONTACT_EMAIL}
      NEXT_PUBLIC_CONTACT_PHONE: ${NEXT_PUBLIC_CONTACT_PHONE}
      NEXT_PUBLIC_CONTACT_TELEGRAM: ${NEXT_PUBLIC_CONTACT_TELEGRAM}
      NEXT_PUBLIC_CONTACT_TELEGRAM_URL: ${NEXT_PUBLIC_CONTACT_TELEGRAM_URL}
    networks:
      - web

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/www:/var/www/certbot
      - ./nginx/letsencrypt:/etc/letsencrypt
    depends_on:
      - app
    networks:
      - web

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./nginx/www:/var/www/certbot
      - ./nginx/letsencrypt:/etc/letsencrypt
    entrypoint: ["sh", "-c", "trap exit TERM; while :; do sleep 12h & wait $${!}; certbot renew --webroot -w /var/www/certbot; done"]
    networks:
      - web

networks:
  web:
    driver: bridge
